# User-specific files
*.user

# project files
.vs/
.idea/
temp/

# Web workbench (sass)
.sass-cache/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.pfx
node_modules/

.DS_Store
Thumbs.db

# Python-specific
*.egg-info
*.pyc
*.pyo
.DS_Store
.coverage
.bzrignore
.bzr/
.idea/
.tox/
__pycache__/
_/
_WORKSPACE/
build/
dist/
downloads/
test_results/
tmp/