# User-specific files
*.user

# project files
.vs/
.idea/
temp/

# Web workbench (sass)
.sass-cache/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.pfx
node_modules/

.DS_Store
Thumbs.db

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*